<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ovalor.mapper.ConsultationMapper">
	<!-- GetList -->
	<select id="getConsultList"
		resultType="com.ovalor.vo.ConsultationVo">
		SELECT * FROM consultation WHERE build_code = 8 AND
		delete_flag = '0'
		ORDER BY grno DESC, grgrod ASC, depth ASC;
	</select>

	<!-- Select -->
	<select id="getConsult"
		resultType="com.ovalor.vo.ConsultationVo">
		SELECT * FROM consultation WHERE no=#{no} AND build_code=8
	</select>

	<!-- Insert -->
	<insert id="addConsult">
		INSERT INTO consultation
		VALUES(nextval('consultation_seq'), currval('consultation_seq'),
		#{grgrod}, #{depth},
		#{title}, #{contents}, #{name}, #{passwd},
		#{lockFlag}, default,
		now(),
		now(), 8)
	</insert>

	<!-- Insert -->
	<insert id="addReply">
		INSERT INTO consultation
		VALUES(nextval('consultation_seq'), #{grno}, #{grgrod}, #{depth},
		#{title}, #{contents}, #{name}, #{passwd}, #{lockFlag}, default,
		now(),
		now(), 8)
	</insert>

	<!-- Update -->
	<update id="modConsult">
		UPDATE consultation
		SET grno = #{grno}, grgrod =
		#{grgrod}, depth = #{depth}
		, title = #{title}, contents = #{contents},
		name = #{name}
		, passwd = #{passwd}, lock_flag = #{lockFlag},
		delete_flag = #{deleteFlag}
		, created_at = #{createdAt}, updated_at =
		#{updatedAt}
		WHERE no = #{no}
	</update>

	<!-- Del -->
	<update id="delConsult">
		UPDATE consultation
		SET
		delete_flag = 1
		WHERE no = #{no}
	</update>

	<!-- Get Reply -->
	<select id="getReplyList">
		SELECT *
		FROM (
		SELECT *
		FROM consultation
		WHERE
		build_code = 8
		AND delete_flag = '0'
		) AS list
		WHERE
		grno = #{no}
	</select>

	<!-- Cnt -->
	<select id="cntReply" resultType="string">
		SELECT COUNT(*)
		FROM (
		SELECT *
		FROM consultation
		WHERE
		build_code = 8
		AND delete_flag = '0'
		) AS list
		WHERE list.grno = #{no}
	</select>

	<!-- UPDATE GRGROD -->
	<update id="upGrgrod">
		UPDATE consultation
		SET grgrod = grgrod + 1
		WHERE grno
		= #{grno}
		AND grgrod > #{grgrod} - 1
	</update>

</mapper>